{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block head %}Inicio{% endblock %}
{% block content %}
<html lang="en">
<head>
<title>Dona tu libro</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<header>
<nav class="navbar navbar-default">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">DonaTuLibro</a>
  </div>
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Inicio</a></li>
    <li><a href="#">Login</a></li>
    <li><a href="#">Regístrate</a></li>
  </ul>
</div>
</nav>
</header>
<div class="container">
<h3>Nosotros</h3>
<blockquote>
<p>Web destinada a donar libros usados a alumnos de colegios estatales</p>
</blockquote>
<h3>Misión</h3>
<blockquote>
<p>Brindar ayuda académica a los alumnos de bajos recursos económicos por medio de donaciones de libros</p>
</blockquote>
<h3>Visión</h3>
<blockquote>
<p>Brindar la mejor plataforma de donación de libros en Lima</p>
</blockquote>
</div>

</body>
</html>
{% endblock %}
